.footer-bg {
  background: var(--color-b12);
  padding: 60px 0px 32px;
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
}

.footer h3 {
  margin-bottom: 32px;
}

.footer-contact {
  margin-bottom: 80px;
}

.footer-contact ul {
  margin-bottom: 32px;
}

.footer li {
  margin-bottom: 16px;
}

.footer-contact li:nth-child(even):after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background: var(--color-b11);
  margin-top: 16px;
}

.footer-social {
  display: flex;
  gap: 32px;
}

.footer a:hover {
  color: var(--color-b0);
}

.footer-copy {
  grid-column: 1/-1;
}

@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
  .footer > a {
    display: none;
  }
  .footer-contact {
    margin-bottom: 0px;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
  }
}
