/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-bottom: 2000px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/* Estrutura */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Componentes */

.btn-primary {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--btn-gradient);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--color-p5);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.33;
}

.btn-primary:hover {
  background: var(--btn-gradient-hover);
}

/* Media Queries */

@media (max-width: 600px) {
  .btn-primary {
    padding: 12px 16px;
    font-size: 1rem;
  }
}
