.header-bg {
  background: var(--color-b12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
  transition: 0.3s;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  margin-top: 2px;
  position: absolute;
  transition: 0.3s;
}

.header-menu a:hover::after {
  background: var(--color-b0);
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    background: var(--color-b11);
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu a::after {
    display: none;
  }

  .header-menu a:hover {
    background-color: var(--color-b10);
    transition: 0.3s;
  }
}
@media (max-width: 600px) {
  .header {
    justify-content: center;
  }

  .header-menu {
    justify-content: center;
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
  }
}
