.insurance-bg {
  background: var(--color-b11);
  padding: 60px 0px;
}

.insurance-bg h2 {
  margin-bottom: 40px;
}

.insurance {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.insurance-item {
  background: var(--color-b12);
  padding: 32px 32px 32px 60px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.insurance-item h3 {
  margin-bottom: 40px;
}

.insurance-item li,
.insurance-item a {
  grid-column: 1;
}

.insurance-item span {
  display: block;
  text-align: right;
}

.insurance-item ul {
  grid-column: 1 /-1;
  margin-bottom: 20px;
}

.insurance-item li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  position: relative;
}

.insurance-item li::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  background: url("../img/icones/lista.svg") no-repeat center;
  position: absolute;
  left: -21px;
}

.insurance-item a {
  grid-column: 1 /-1;
}

@media (max-width: 800px) {
  .insurance {
    grid-template-columns: 1fr;
  }
}
