.intro-bg {
  background: #000000;
  color: #fff;
  box-shadow: inset 0px -120px #fff;
}

.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 40px;
  align-items: center;
  padding: 0px 20px;
}

.intro-content {
  align-self: end;
  padding-bottom: 200px;
}

.intro-content h1 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 4rem;
  line-height: 1.125;
  margin-bottom: 32px;
}

.intro-content h1 span {
  color: #ffbb00;
}

.intro-content p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #b2b2b2;
  margin-bottom: 20px;
}

.intro img {
  object-fit: cover;
  border-radius: 4px;
}

@media (max-width: 1200px) {
  .intro-content h1 {
    font-size: 3rem;
  }

  .intro-content p {
    font-size: 1.25rem;
  }
}

@media (max-width: 800px) {
  .intro-bg {
    background: #111111;
    padding-top: 40px;
    box-shadow: inset 0px -60px #fff;
  }

  .intro {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .intro img {
    height: 300px;
    width: 100%;
  }

  .intro-content {
    padding-bottom: 0px;
  }

  .intro-content h1 {
    font-size: 2rem;
    margin-bottom: 16px;
  }

  .intro-content p {
    font-size: 1.125rem;
    max-width: 45ch;
  }
}
