.review {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--color-p1);
  overflow: hidden;
}

.review img {
  height: 100%;
  object-fit: cover;
  border-radius: initial;
}

.review-content {
  padding: 40px 40px 80px 80px;
  align-self: end;
}

.review-content p {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
  max-width: 32ch;
  position: relative;
}

.review-content p::before,
.review-content p::after {
  font-size: 5rem;
  color: var(--color-p2);
  position: absolute;
}

.review-content p::before {
  content: "“";
  left: -48px;
  top: -20px;
}

.review-content p::after {
  content: "”";
}

@media (max-width: 800px) {
  .review {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .review img {
    max-height: 200px;
    width: 100%;
  }
  .review-content {
    padding: 40px 20px;
    justify-self: center;
  }
}
