/* Global */
@import "./global/global.css";
@import "./global/typo.css";
@import "./global/color.css";
@import "./global/header.css";
@import "./global/footer.css";

/* Home */
@import "./home/intro.css";
@import "./home/tech.css";
@import "./home/partners.css";
@import "./home/review.css";

/* Seguros */
@import "./insurance/insurance.css";
@import "./insurance/advantages.css";
@import "./insurance/questions.css";

/* Termos e Condições */
@import "./terms/terms.css";

/* Bicicletas */
@import "./bikes/home-bikes.css";
@import "./bikes/bikes.css";
