.tech-bg {
  background: var(--color-b11);
  box-shadow: inset 0px 80px var(--color-b0), inset 0px -80px var(--color-b0);
}

.tech {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.tech-img img {
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.tech-content {
  padding: 140px 0px;
}

.tech-content > span {
  display: block;
  margin-bottom: 20px;
}

.tech-content h2 {
  margin-bottom: 32px;
}

.tech-content > p {
  margin-bottom: 20px;
}

.tech-content a {
  margin-bottom: 80px;
}

.tech-list {
  display: flex;
  gap: 40px;
}

.tech-list h3 {
  margin-bottom: 8px;
  width: max-content;
}

@media (max-width: 800px) {
  .tech-bg {
    box-shadow: initial;
  }
  .tech {
    grid-template-columns: 1fr;
  }
  .tech-content {
    padding: 40px 0px;
  }
  .tech-img {
    display: none;
  }
  .tech-content h2 {
    max-width: 22ch;
  }
  .tech-content > p {
    max-width: 55ch;
  }
  .tech-content a {
    margin-bottom: 60px;
  }
  .tech-list p {
    max-width: 28ch;
  }
}

@media (max-width: 600px) {
  .tech-content a {
    margin-bottom: 40px;
  }
  .tech-list {
    flex-direction: column;
  }
  .tech-list p {
    max-width: 40ch;
  }
}
