#contact .header-menu li:nth-child(3) a::after {
  width: 100%;
  background: var(--color-b0);
}

#contact {
  background: linear-gradient(var(--color-b11) 600px, var(--color-b1) 0px);
}

.contact {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.contact-info,
.contact-form {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contact-info {
  background: var(--color-b12);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.contact-form {
  background: var(--color-b0);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.contact-info h2 {
  margin-bottom: 60px;
}

.contact-address {
  margin-bottom: 32px;
  background: url("../../img/icones/local.svg") no-repeat 0px 2px;
  padding-left: 28px;
}

.contact-address p + p {
  margin-top: 8px;
}

.contact-means a {
  display: block;
  max-width: max-content;
  margin-bottom: 8px;
  padding-left: 28px;
}

.contact-means a:hover {
  color: var(--color-b0);
}

.contact-means a:first-child {
  background: url("../../img/icones/email.svg") no-repeat 0px 2px;
}

.contact-means a:nth-child(2) {
  margin-bottom: 32px;
}

.contact-means a:nth-child(3) {
  background: url("../../img/icones/telefone.svg") no-repeat 0px 2px;
  margin-bottom: 60px;
}
.contact-media {
  display: flex;
  gap: 32px;
  padding-left: 28px;
}

@media (max-width: 800px) {
  .contact {
    grid-template-columns: 1fr;
  }
  .contact-info,
  .contact-form {
    padding: 20px;
  }
  .contact-info {
    border-radius: 5px 5px 0 0;
  }
  .contact-info h2,
  .contact-means a:nth-child(3) {
    margin-bottom: 32px;
  }
  .contact-form {
    border-radius: 0 0 5px 5px;
  }
  .contact-media {
    margin-bottom: 12px;
  }
}
