.store {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  padding: 120px 20px;
}

.store h2 {
  grid-column: 1/-1;
  margin-bottom: 60px;
}

.store-item img {
  border-radius: 4px 4px 0 0;
}

.store-item {
  border-radius: 4px;
  background: var(--color-b0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.store-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 16px;
  padding: 32px;
}

.store-item h3,
.store-time {
  grid-column: 1/-1;
}

.store-info {
  display: grid;
  gap: 8px;
  border-left: 2px solid var(--color-b2);
  padding-left: 12px;
}

.store-info a:hover {
  color: var(--color-b12);
}

.store-time {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 800px) {
  .store {
    gap: 20px;
    padding: 60px 20px;
  }
  .store h2 {
    margin-bottom: 32px;
  }
  .store-content {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  .store {
    grid-template-columns: 1fr;
  }
}
