.terms {
  padding: 80px 20px;
}

.terms h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

.terms p + h2 {
  margin-top: 40px;
}

.terms p {
  max-width: 75ch;
  margin-bottom: 24px;
}

@media (max-width: 800px) {
  .terms {
    padding: 40px 20px;
  }
}
