/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

/* Estrutura */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}

.title-bg {
  background: var(--color-b11);
  padding: 60px 0px;
}

.title p {
  margin-bottom: 4px;
}

/* Componentes */

.btn {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font: 600 1.125rem/1.35 "Poppins", Arial, Helvetica, sans-serif;
  color: var(--color-p5);
  background: var(--btn-gradient);
  max-width: max-content;
}

.btn:hover {
  background: var(--btn-gradient-hover);
}

.btn.secondary {
  background: var(--color-b10);
  color: var(--color-b2);
}

.btn.secondary:hover {
  background: var(--color-b9);
}

.btn.arrow {
  display: flex;
  align-items: center;
}

.btn.arrow::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("../../img/icones/seta.svg") no-repeat center;
  transition: transform 0.2s;
}

.btn.arrow:hover::after {
  transform: translateX(4px);
}

.link {
  display: inline-block;
  font: 600 1.5rem/1.5 "Poppins", sans-serif;
  color: var(--color-p1);
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: currentColor;
}

.link:hover {
  color: var(--color-b0);
}

/* Media Queries */

@media (max-width: 800px) {
  .link {
    font-size: 1.125rem;
  }
  .title-bg {
    padding: 60px 0px;
  }
  .title p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}

@media (max-width: 600px) {
  .btn {
    padding: 12px 16px;
    font-size: 1rem;
  }
}
