.bike-insurance-bg {
  background: var(--color-b11);
  box-shadow: inset 0 120px var(--color-b0), inset 0 -120px var(--color-b12);
}

.bike-insurance {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.bike-insurance img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bike-insurance-content {
  padding: 180px 0px;
}

.bike-insurance h2 {
  margin-bottom: 32px;
}
.bike-insurance p {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .bike-insurance-bg {
    box-shadow: inset 0 -60px var(--color-b12);
  }
  .bike-insurance {
    grid-template-columns: 1fr;
  }
  .bike-insurance-content {
    grid-row: 1;
    padding-top: 40px;
    padding-bottom: 0px;
  }
  .bike-insurance h2 {
    max-width: 20ch;
  }
  .bike-insurance p {
    max-width: 52ch;
  }
}
