.bike-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-top: 60px;
}

#bike-page .title p {
  text-transform: uppercase;
}

.bike-page-images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.bike-page-images img {
  flex: 1;
  min-width: 200px;
}
.bike-page-images img:first-child {
  min-width: 100%;
}

.bike-page-content > p {
  margin-bottom: 32px;
}

.bike-page-buy {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
  margin-bottom: 40px;
}
.bike-page-buy a {
  grid-row: span 2;
}
.bike-page-buy span {
  display: flex;
  align-items: center;
  background-color: var(--color-b12);
  padding: 4px 8px;
  border-radius: 4px;
  gap: 8px;
}

.bike-page-content h2 {
  text-transform: uppercase;
  letter-spacing: 0.015em;
  margin-bottom: 12px;
}

.bike-page-info {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.bike-page-info img {
  width: 24px;
  margin-bottom: 8px;
}

.bike-page-info h3 {
  margin-bottom: 8px;
}

.bike-page-info,
.bike-page-file {
  padding: 32px;
  background-color: var(--color-b12);
  border-radius: 4px;
}

.bike-page-file li {
  padding: 4px 0px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-b11);
}

.bike-page-file li:last-child {
  border-bottom: none;
}

.bike-page-file span {
  color: var(--color-b6);
}

#bike-page .home-bikes-list {
  display: flex;
  padding: 0px 20px;
}

#bike-page .home-bikes-list li {
  flex: 1;
}

@media (max-width: 800px) {
  .bike-page {
    grid-template-columns: 1fr;
    padding-top: 40px;
  }
  .bike-page-images {
    grid-row: 2;
  }
}
@media (max-width: 400px) {
  .bike-page-info,
  .bike-page-buy {
    grid-template-columns: 1fr;
  }
}
