.home-bikes {
  padding: 60px 0px;
}
.home-bikes h2 {
  margin-bottom: 40px;
}

.home-bikes-list.container {
  max-width: 1400px;
  display: flex;
  gap: 40px;
  overflow-x: scroll;
}

.home-bikes-list li {
  min-width: 280px;
  padding-bottom: 20px;
}

.home-bikes-list a {
  display: block;
}

.home-bikes-list img {
  height: auto;
  margin-bottom: 16px;
}

.home-bikes-list h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.home-bikes-list h3::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background: var(--color-p1);
  margin-right: 8px;
  transition: width 0.3s;
}

.home-bikes-list a:hover h3::before {
  width: 32px;
}

.home-bikes-list span {
  margin-left: 20px;
}

@media (max-width: 800px) {
  .home-bikes {
    padding: 60px 0px;
  }
  .home-bikes-list {
    gap: 20px;
  }
}
