.advantages-bg {
  padding: 120px 0px;
  background: var(--color-b12);
}

.advantages h2 {
  margin-bottom: 60px;
}

.advantages ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 40px 80px;
}

.advantages li {
  display: grid;
  gap: 8px;
}

@media (max-width: 800px) {
  #seguros .header-menu li:nth-child(2) a {
    background-color: var(--color-b10);
  }
  .advantages-bg {
    padding: 40px 0px;
  }
  .advantages h2 {
    margin-bottom: 40px;
  }
  .advantages ul {
    gap: 20px;
  }
}
