.questions {
  padding: 120px 20px;
}

.questions h2 {
  margin-bottom: 60px;
}

.questions dl > div {
  padding: 20px;
  border-radius: 4px;
}

.questions dl > div:nth-child(odd) {
  background: var(--color-b1);
}

.questions dt {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.questions dt::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background: var(--color-p1);
}

.questions dt::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 6px;
  background: url("../../img/icones/seta-abrir.svg") no-repeat;
  transition: 0.3s;
}

.questions dt:hover::after {
  transform: rotate(180deg);
}

.questions dd {
  padding-top: 16px;
  padding-left: 20px;
  max-width: 80ch;
}

@media (max-width: 800px) {
  .questions {
    padding: 60px 20px;
  }
  .questions h2 {
    margin-bottom: 40px;
  }
}
