.intro-bg {
  background: var(--color-b12);
  box-shadow: inset 0px -120px #fff;
}

.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 40px;
  align-items: center;
}

.intro-content h1 {
  margin-bottom: 32px;
}

.intro-content p {
  margin-bottom: 20px;
}

.intro img {
  object-fit: cover;
}

@media (max-width: 800px) {
  .intro-bg {
    background: var(--color-b11);
    padding-top: 40px;
    box-shadow: inset 0px -60px #fff;
  }

  .intro {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .intro img {
    height: 300px;
    width: 100%;
  }

  .intro-content {
    padding-bottom: 0px;
  }

  .intro-content h1 {
    margin-bottom: 16px;
  }

  .intro-content p {
    max-width: 45ch;
  }
}
