.partners {
  padding: 60px 0px;
}

.partners h2 {
  margin-bottom: 60px;
}

.partners-list.container {
  max-width: 1400px;
}

.partners-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.partners-list li {
  padding: 32px;
  display: flex;
  border-left: 2px solid var(--color-b2);
}

.partners-list img {
  margin: auto;
}

.partners-list li:first-child,
.partners-list li:nth-child(5) {
  border-left: none;
}

.partners-list li:nth-child(n + 5) {
  border-top: 2px solid var(--color-b2);
}

@media (max-width: 800px) {
  .partners h2 {
    margin-bottom: 20px;
  }
  .partners-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .partners-list li {
    padding: 20px;
  }

  .partners-list li:nth-child(odd) {
    border-left: none;
  }
  .partners-list li:nth-child(n + 3) {
    border-top: 2px solid var(--color-b2);
  }
}
